@model AbirProjectCars.Models.Vehicles

<h2>Add Vehicle</h2>

@*<form asp-action="AddVehicle" asp-controller="Vehicle" method="post">
        <div class="form-group">
            <input asp-for="OwnerID" type="hidden" />
        </div>
        <div class="form-group">
            <label asp-for="Make"></label>
            <input asp-for="Make" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Model"></label>
            <input asp-for="Model" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Year"></label>
            <input asp-for="Year" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="VIN"></label>
            <input asp-for="VIN" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Mileage"></label>
            <input asp-for="Mileage" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastServiceDate"></label>
            <input asp-for="LastServiceDate" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>*@
@using (Html.BeginForm("AddVehicle", "Vehicle", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.OwnerID)

    <div class="form-group">
        @Html.LabelFor(m => m.Make)
        @Html.TextBoxFor(m => m.Make, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Make)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Model)
        @Html.TextBoxFor(m => m.Model, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Model)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Year)
        @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Year)

    </div> <div class="form-group">
        @Html.LabelFor(m => m.VIN)
        @Html.TextBoxFor(m => m.VIN, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.VIN)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Mileage)
        @Html.TextBoxFor(m => m.Mileage, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Mileage)

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LastServiceDate)
        @Html.TextBoxFor(m => m.LastServiceDate, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastServiceDate)

    </div>

    <button type="submit" class="btn btn-primary">שמירה</button>
}
