@model AbirProjectCars.Models.GaragePermissions
<h2>Edit GaragePermission</h2>



@using (Html.BeginForm("Update", "GaragePermission", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(m => m.PermissionID)
    @Html.HiddenFor(m => m.UserID)
    @Html.HiddenFor(m => m.GarageID)

    <div class="form-group">
    @Html.LabelFor(m => m.CanView)
    @Html.TextBoxFor(m => m.CanView, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CanView)

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CanEdit)
        @Html.TextBoxFor(m => m.CanEdit, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CanEdit)

    </div>
   @*<div class="form-group">
    @Html.LabelFor(m => m.CanView)
    <div>
        @Html.CheckBoxFor(m => m.CanView, new { @class = "form-check-input" })
        @Html.LabelFor(m => m.CanView, new { @class = "form-check-label" })
    </div>
    @Html.ValidationMessageFor(m => m.CanView)
</div>
 <div class="form-group">
    @Html.LabelFor(m => m.CanEdit)
    <div>
        @Html.CheckBoxFor(m => m.CanEdit, new { @class = "form-check-input" })
        @Html.LabelFor(m => m.CanEdit, new { @class = "form-check-label" })
    </div>
    @Html.ValidationMessageFor(m => m.CanEdit)
</div>*@


    @*<div class="form-group">
        <label asp-for="CanView"></label>
        <input asp-for="CanView" class="hidden-value" />
        <input type="checkbox" class="form-control" id="canViewCheckbox" onclick="updateHiddenField('CanView', this.checked)" />
    </div>

    <div class="form-group">
        <label asp-for="CanEdit"></label>
        <input asp-for="CanEdit" class="hidden-value" />
        <input type="checkbox" class="form-control" id="canEditCheckbox" onclick="updateHiddenField('CanEdit', this.checked)" />
    </div>*@

    <button type="submit" class="btn btn-primary">Register</button>
}
