@model AbirProjectCars.Models.Customers
<p>your request is secssed</p>

<h3>LName is: @Model.FirstName</h3>
<h3>FName is: @Model.LastName</h3>
<h3>Email is: @Model.Email</h3>
<h3>Phon is: @Model.Phone</h3>
<h3>Adress is: @Model.Address</h3>

